@import "elements";

@white: #FFFFFF;
@red: #89211A;
@lightgrey: #EBEBEB;
@midgrey: #D2D2D2;
@darkgrey: #252929;

body {
	background-color: @lightgrey;

	.container {
		min-width: 1000px;
		max-width: 1000px;
		padding: 40px 20px;
	}
}

#header {
	padding: 20px 0;
	background-color: @darkgrey;
	border-bottom: 3px solid @red;
	.drop-shadow(0px, 3px, 10px, 0.3);
	min-width: 1000px; text-align: center;
	.gradient(darken(@darkgrey, 10%), darken(@darkgrey, 5%), @darkgrey);

	img {
		max-width: 60px;
	}
}

#footer {
	font-size: 10px;
}

.alert {
	.border-radius(3px, 3px, 3px, 3px);
	padding: 10px; color: @red;
	max-width: 500px; margin: 0 auto;
	text-align: center; background-color: @midgrey;
}

.button {
	background-color: @red;
	.border-radius(3px, 3px, 3px, 3px);
	
	&:hover {
		background-color: darken(@red, 10%);
	}
}

form {
	label {
		display: block;
		margin-bottom: 10px;
	}

	input {
		margin-bottom: 20px;
		width: 100%; min-height: 45px;
	}

	input[type="text"], input[type="password"] {
		padding-left: 12px;
	}

	&#login {
		padding: 20 0;
		margin: 0 auto;
		max-width: 500px;
	}
	
	.parsley-errors-list {
		list-style-type: none;
		margin: 10px 0; padding: 0;
		color: @red; font-size: 14px;
	}
}

a {
	color: @red;
	text-decoration: none;
	&:hover {
		color: darken(@red, 10%);
	}
}