/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-color: #ebebeb;
}
body .container {
  min-width: 1000px;
  max-width: 1000px;
  padding: 40px 20px;
}
#header {
  padding: 20px 0;
  background-color: #252929;
  border-bottom: 3px solid #89211a;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  min-width: 1000px;
  text-align: center;
  background: #0d0e0e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #191c1c), color-stop(1, #252929));
  background: -ms-linear-gradient(bottom, #191c1c, #252929);
  background: -moz-linear-gradient(center bottom, #191c1c 0%, #252929 100%);
  background: -o-linear-gradient(#252929, #191c1c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252929', endColorstr='#191c1c', GradientType=0);
}
#header img {
  max-width: 60px;
}
#footer {
  font-size: 10px;
}
.alert {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  color: #89211a;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #d2d2d2;
}
.button {
  background-color: #89211a;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.button:hover {
  background-color: #5e1712;
}
form label {
  display: block;
  margin-bottom: 10px;
}
form input {
  margin-bottom: 20px;
  width: 100%;
  min-height: 45px;
}
form input[type="text"],
form input[type="password"] {
  padding-left: 12px;
}
form#login {
  padding: 20 0;
  margin: 0 auto;
  max-width: 500px;
}
form .parsley-errors-list {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  color: #89211a;
  font-size: 14px;
}
a {
  color: #89211a;
  text-decoration: none;
}
a:hover {
  color: #5e1712;
}
